# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# React / Vite
node_modules/
dist/
build/
.vite/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db